:root {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

.hero {
    text-align: center;
    margin: 2em 3em;
}

.hero h1 {
    color: var(--very-dark-blue);
    font-weight: 200;
    padding: 0;
    margin: 0;
    font-size: 1.75em;
}

.hero h2 {
    color: var(--very-dark-blue);
    font-weight: 600;
    padding: 0;
    margin: 0;
    font-size: 1.75em;
}

.hero h3 {
    color: var(--grayish-blue);
    font-weight: 400;
    font-size: 0.8em;
    width: 35em;
    margin: 1em auto;
}

.card-container {
    margin: 3em 1em;
}

.card {
    border-top: 0.2em solid;
    box-shadow: 0px 5px 15px var(--grayish-blue);
    padding: 2em;
    margin: 1em;
    border-radius: 0.25em;
    height: 10em;
    width: 15em;
}

.card p {
    color: var(--grayish-blue);
    font-size: 0.75em;
    padding-bottom: 0.75em;
}

.card h4 {
    font-size: 1.1em;
    margin: 0;
    color: var(--very-dark-blue);
}

.card.supervisor {
    border-top-color: var(--cyan);
}

.card.karma {
    border-top-color: var(--orange);
}

.card.team-builder {
    border-top-color: var(--red);
}

.card.calculator {
    border-top-color: var(--blue);
}

.float-img-right {
    text-align: right;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container-especial {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 960px) {
    .content {
        display: block;
    }
}